*{
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
	outline: 0;
}
::selection {
  background: #000;
}
::-moz-selection {
  background: #000;
}
::-webkit-scrollbar { 
    display: none; 
}
html{
    scrollbar-width: none;
	scroll-behavior: smooth;
}
#switchRight {
	position: fixed;
	right:1%;
	bottom:50%;
	width:3%;
	z-index: 100;
}
#switchLeft {
	z-index: 100;
	position: fixed;
	left:1%;
	width:3%;
	bottom:50%;
}
#switchLeft:disabled {
	color: rgba(50,50,50,.5);
	border: rgba(50,50,50,.5) solid 2px;
}
#switchLeft:disabled:hover {
	background-color: rgba(50,50,50,.5);
}
#switchRight:disabled {
	color: rgba(50,50,50,.5);
	border: rgba(50,50,50,.5) solid 2px;
}
#switchRight:disabled:hover {
	background-color: rgba(50,50,50,.5);
}
.navBar{
	display: block;
	position: fixed;
	top:2%;
	width:100%;
	text-align: center;
	z-index: 100;
}
body {
	padding: 0;
	margin:0%;
	font: 2vh 'Montserrat', monospace;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: rgb(20,20,20);
    background-blend-mode: darken(10%);
    background-attachment: fixed;
}
a {
	color: white;
	text-decoration:none;
	background-color: rgb(100,0,250);
	padding-right: 10px;
	padding-left: 10px;
}
a:hover {
	color: rgb(75,0,150);
	text-decoration:none;
	background-color: white;
}
button{
	color: white;
	font-size: 2vh;
	height: 5vh;
	width: 10%;
	border: white solid .3vh;
	background-color: rgba(0,0,0,0);
}
button:hover{
	color: rgba(0,0,0,.5);
	background-color: white;
	cursor: pointer;
}
hero {
	color:white;
	padding-top: 5vh;
	text-align: center;
	margin: 0;
	display: block;
	margin-top: 10%;
	height: 50vh;
	width: 100%;
	background: linear-gradient(330deg, rgb(100,0,150), rgb(50,0,100));
}
smallHero {
	color:white;
	padding-top: 0vh;
	text-align: center;
	margin: 0;
	display: block;
	margin-top: 10%;
	height: 50vh;
	width: 100%;
	background: linear-gradient(330deg, rgb(100,0,150), rgb(50,0,100));
}
smallHero1 {
	color:white;
	padding-top: 0vh;
	text-align: center;
	margin: 0;
	display: block;
	margin-top: 10%;
	height: 50vh;
	width: 100%;
	background: linear-gradient(150deg, rgb(100,0,150), rgb(50,0,100));
}
smallHero .desc {
	font-size: 4vh;
}
.top {
	margin-left: 25%;
	margin-bottom: 3%;  
	width: 100%;
	box-shadow: 0 0px 5px .5px rgb(100,0,250);
	text-align: center;
	background: #333;
}
.top:hover {
	box-shadow: 0 0px 20px 5px rgb(100,0,250);
}
.intro {
	margin-top:10vh; 
	margin-bottom: 2%; 
	font-size: 10vh;
}
.desc {
	font-size: 5vh;
	margin: 10%;
	margin-top: 0%; 
	margin-bottom: 0%; 

	padding-bottom: 2vh;
}
.section {
	padding: 3%;
	font-size: 6vh;
	color: rgb(100,0,250);
}
table {
	overflow-y: hidden;
	table-layout: fixed;
	border-spacing: 0;
	display: block;
	height: 100vh;
	width: 400vw;
	margin:0;
	padding:0;
	border: none;
}
tr {
	height: 100vh;
	border: none;
}
td{
	vertical-align: top;
	height: 100vh;
	width: 100vw;
    overflow-y: hidden;
	padding:0;
	margin:0;
	border: none;
}
content {
	float: left;
	margin: 0;
	padding:5%;
	display: block;
	width:90%;
	position: relative;
	color: white;
}
hr {
	margin-top: 0;
}
block {
	float: left;
	display: block;
	padding-top: .5vh;
	margin-right: 2%;
	margin-bottom: 3%;  
	background:linear-gradient(-330deg, rgb(100,0,150), rgb(50,0,100));
	width: 25%;
	height: 20vh;
	box-shadow: 0 0px 5px .5px rgb(100,0,250);
}
block:hover {
	box-shadow: 0 0px 20px 5px rgb(100,0,250);
}
block h1 {
	font-size: 3vh;
	margin-left: 3%;
	padding: 0;
	margin-bottom: 0%;
	color: white;
}
block text {
	display: block;
	font-size: 2vh;
	margin: 3%;
}
block .hotButton {
	display: block;
	float: left;
	position: absolute;
	top: 28vh;
	margin-left: 12vw;
}
block hr {
	color: #555;
}
block symbols {
	float: right;
	margin-right: 5%;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 2px;

	padding-top: 2px;
	padding-bottom: 0px;
	color:black;
}
block symbols img {
	height: 2vw;
	width: 2vw;
	margin: 0;
	margin-left: 12px; 

	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	filter: invert(100%);
}
block symbols img:hover {
	cursor: pointer;
	width: 2vw;
	-webkit-filter: invert(0%);
	-moz-filter: invert(0%);
	-o-filter: invert(0%);
	filter: invert(0%);
}
bottom {
	padding: 0;
	padding-bottom: 1%;
	padding-top: 1%;
	margin: 0;
	margin-top: 10%;
	text-align: center;
	color: white;
	position: relative;
	display: block;
	box-shadow: 0 0px 5px .5px black;

	background: linear-gradient(137deg, rgb(75,0,125), rgb(50,0,100));
	width:100%;
}

bottom:hover {
	box-shadow: 0 0px 20px 5px black;
}

@media screen and (max-width: 1000px) {
	content {
		float: none;
		margin: 5%;
		width:90%;
	}
	bottom {
		text-align: center;
		position: relative;
		margin: 0;
		right: 0;
		margin-bottom: 2%;
		display: block;
		width:100%;
	}
	.intro {
		margin-top: 5vh;
	}	
	block symbols img {
		height: 5vw;
		width: 5vw;
	}	
	block symbols img:hover {
		cursor: pointer;
		width: 5vw;
	}
}