#bgcanvas {
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
#volume {
    color: white;
    font: 2em Niramit, sans-serif;
    background: none;
    border: none;
    right:10px;
    bottom:10px;
    position: fixed;
}
.static {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.shadowReader {
    text-align: center;
    margin-top: 10%;
    width:60%;

    padding:10%;
    padding-left:20%;
    padding-right:20%; 
    background-color: #000;
    color: #fff; 
    font: 2em Niramit, sans-serif;
}
container {
    height: 100%;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    float: center;
    margin:auto;
    display: block;
    padding: 1%;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.headImage {
    animation: fadeIn 2s ease forwards;
    margin-left: 20px;
    margin-right: 100%;
    float: left;
    max-width: 50%;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.project {
    border-radius: 10px;
    display: block;
    border:0px;
    border-left: solid 7px grey;
    color: #bbb;
    font: 2.5vh Niramit, sans-serif;
    width: 16%;
    height: 100px;
    background-color: rgba(100,0,240,.9);

    margin:.5%;
    text-align: left;
    float: left;
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
    cursor: pointer;
}
.project2 {
    border-radius: 10px;
    display: block;
    border:0px;
    border-left: solid 7px grey;
    color: #bbb;
    font: 2.5vh Niramit, sans-serif;
    width: 16%;
    height: 100px;
    background-color: rgba(240,0,100,.8);

    margin:.5%;
    text-align: left;
    float: left;
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
    cursor: pointer;
}
.project div {
    position: relative;
    top: -30px;
}
bold {
    font-weight: bold; 
    color:black;
}
.project p {
    position: absolute;
    margin-top: 1%;
    font: .75em Niramit, sans-serif;
    line-height: 1.1;
    }
.project:hover {
    color: white !important;
    width: 30% !important;
    background-color: rgba(20,0,48,.6) !important;
}
.project2 div {
    position: relative;
    top: -30px;
}

.project2 p {
    position: absolute;
    margin-top: 1%;
    font: .75em Niramit, sans-serif;
    line-height: 1.1;
    }
.project2:hover {
    color: white !important;
    width: 30% !important;
    background-color: rgba(20,0,48,.6) !important;
}
#about {
    position: absolute;
    display: block;
    z-index: 200;
    right: 2%;
    bottom: 20%;
    height: 20%;
    width:10%;
    color: rgba(255,255,255,.2);
    padding: 1%;
    font-size: 10vh;
    border: 5px;
    font: 5em Niramit, sans-serif;
    border-color: #fff;
    border-radius: 20px; 
    background-color: rgba(255,255,255,.1);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    }
#about p {
    margin:10%;
    font: 0em Niramit, sans-serif;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    }

button:hover {
    background-color: rgba(255,255,255,.2);
}
button:disabled,
button[disabled]{
    background-color: rgba(255,255,255,.1);
}
button:enabled,
button[enabled]{
    cursor: pointer;
}

#clickAway {
    visibility: hidden;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);

    z-index: 1;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.centerText {
    text-align: center;
    margin-top: 14%;
    width:60%;

    padding:7%;
    padding-left:20%;
    padding-right:20%; 
    background-color: rgba(100,0,255,.8);
    color: #fff; 
    font: 2em Niramit, sans-serif;
}
.text {
    color: #fff; 
    font: 50px Niramit, sans-serif;
}
a {
    color: white;
}
.bottomLinks {
    color: white;
    font: 2vh Niramit, sans-serif;
    position: absolute;
    bottom:100px;
    text-align: center;
    width: 100%;
    display: block;
    margin:0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.topLinks {
    color: white;
    font: 2vh Niramit, sans-serif;
    position: absolute;
    top:100px;
    text-align: center;
    width: 100%;
    display: block;
    margin:0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    padding: 0px;
    margin: 0px;
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
}
.runButton {
    border-radius: 10px;
    display: block;
    border:0px;
    color: #bbb;
    font: 2.5vh Niramit, sans-serif;
    width: 16%;
    height: 100px;
    background-color: rgba(100,0,240,.8);

    margin:.5%;
    text-align: left;
    float: left;
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
    cursor: pointer;
}
.registers{
    display: block;
    text-align: left;
    color:black;
    padding: 12px 20px;
    font:3vw Century Gothic, sans-serif;
    opacity: .85;
    background: white;
    margin: 0%;
    height: 500px;
    width:47%;
    float: left;
}
.typingBox {
    opacity: .85;
    border:none;
    resize: none;
    float: left;
    background-color: #eeeeee;
    margin: 0%;
    padding: 12px 20px;
    font-size: 30px;
    height: 500px;
    width: 47%;
}
.cookies {
    background-color: rgba(100,0,240,.9);
    position: absolute;
    display: block;
    z-index: 200;
    text-align: center;

    width:50%;
    height: 500px;
    font:3vw Century Gothic, sans-serif;
    transition: all .5s;
    margin:25%;
    margin-top:10%;
    margin-bottom:0%;
}

.cookies p {
    font:3vw Century Gothic, sans-serif;
    border: 0px;
    margin: 10%;
    margin-top: 10%;
    color: black;
}
.cookies button {
    font:3vw Century Gothic, sans-serif;
    border: 0px;
    margin: 10%;
    margin-top: 10%;
    color: white;
    background-color: black;
    padding: 10px;
    transition:all .5s;
}
.cookies button:hover {
    padding: 30px;
    color: grey;
    background-color: black;
}
